$background-color:#302e2e;
$on-hover-background-color:#444444;

$btn-text-color: #ffffff;
$btn-hover-text-color:#ebe6e6;

$text-primary-color:#000;

$secondary-background-color:#8c8a8a;
$support-color:#8a8989;