@import './text.scss';
@import './globals.scss';

@media (max-width: 550px) {
    .hide-on-mobile {
      display: none;
    }
}


.app{
  overflow: hidden;
  text-overflow: ellipsis;
}

.pad-10{
  padding: 10px;
}