@import "../../scss/colors.scss";

.menu{
    .menu-option-container{
        display: flex;
        flex-direction: column;
        gap:20px;
        margin: 10% 30% 10% 30%;

        .menu-option{
            text-align: center;
            border: 3px solid $background-color;
            color: $text-primary-color; 
            padding: 15px 30px; 
            border-radius: 8px; 
            cursor: pointer;
            transition: 0.3s; 
          
            &:hover {
                color: $btn-text-color;
                background-color: #555;
            }
        }
    }
}

